body{
    font-family: 'Tomorrow', sans-serif;
}

.name-title{
    color: yellowgreen;
}
section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(greenyellow, yellowgreen);
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5%;
}

.half-width img{
    width: 80%;
}